@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input {
    @apply flex h-12 w-full rounded-md border border-dark-700 bg-dark-500 px-3 py-2 text-sm ring-offset-yellow-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-yellow-700 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .container {
    @apply relative flex-1 px-[5%];
  }
  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }
  .side-img {
    @apply hidden h-full object-cover md:block;
  }
  .heading-h1 {
    @apply text-4xl font-bold;
  }
  .regular-text {
    @apply text-lg text-textGray-500;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
